{% set class_type = type == 'textfield' ? 'text' : type %}

{% if description.content is not empty %}
  {% set tooltipParent = true %}
{% endif %}

{% set classes = [
  'c-form-item',
  'c-form-item--' ~ class_type,
  label_display not in ['after', 'before'] ? 'has-no-label' : '',
  label_display not in ['invisible'] and label_display in ['after'] ? 'has-visible-label-after' : '',
  errors ? 'has-error' : '',
  disabled == 'disabled' or is_disabled ? 'is-disabled' : '',
  required == 'required' or is_required ? 'is-required': '',
  is_full_width ? 'is-full-width' : '',
  modifier_classes ? modifier_classes : '',
  prefix ? 'has-prefix' : '',
  suffix ? 'has-suffix' : '',

]|join(' ')|trim %}

{% set description_classes = [
  'c-form-item__description',
  description_display == 'invisible' ? 'u-visually-hidden' : '',
]|join(' ')|trim %}

  {% set description_attributes_to_add = {
    class: description_classes,
  } %}

  {% if id %}
    {% set description_attributes_to_add = description_attributes_to_add|merge({
      id: id ~ '-description',
    }) %}
  {% endif %}

<div {{ add_attributes({class: classes}) }}>
  {% if tooltipParent %}
      <div class="label-and-info-wrapper">
  {% endif %}
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}
  {% if description_display in ['after', 'invisible'] and description.content %}
      <div {{ add_attributes(description_attributes_to_add, 'description.attributes') }} data-tippy-content="{{ description.content }}" data-placement="right" class="description-tooltip">
        {# {{ description.content }} #}
        <svg width="18" height="18" viewBox="0 0 18 18" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.00033 13.1667C9.23644 13.1667 9.43449 13.0867 9.59449 12.9267C9.75394 12.7672 9.83366 12.5695 9.83366 12.3334V8.97919C9.83366 8.74308 9.75394 8.54863 9.59449 8.39585C9.43449 8.24308 9.23644 8.16669 9.00033 8.16669C8.76421 8.16669 8.56644 8.24641 8.40699 8.40585C8.24699 8.56585 8.16699 8.76391 8.16699 9.00002V12.3542C8.16699 12.5903 8.24699 12.7847 8.40699 12.9375C8.56644 13.0903 8.76421 13.1667 9.00033 13.1667ZM9.00033 6.50002C9.23644 6.50002 9.43449 6.42002 9.59449 6.26002C9.75394 6.10058 9.83366 5.9028 9.83366 5.66669C9.83366 5.43058 9.75394 5.23252 9.59449 5.07252C9.43449 4.91308 9.23644 4.83335 9.00033 4.83335C8.76421 4.83335 8.56644 4.91308 8.40699 5.07252C8.24699 5.23252 8.16699 5.43058 8.16699 5.66669C8.16699 5.9028 8.24699 6.10058 8.40699 6.26002C8.56644 6.42002 8.76421 6.50002 9.00033 6.50002ZM9.00033 17.3334C7.84755 17.3334 6.76421 17.1145 5.75033 16.6767C4.73644 16.2395 3.85449 15.6459 3.10449 14.8959C2.35449 14.1459 1.76088 13.2639 1.32366 12.25C0.885881 11.2361 0.666992 10.1528 0.666992 9.00002C0.666992 7.84724 0.885881 6.76391 1.32366 5.75002C1.76088 4.73613 2.35449 3.85419 3.10449 3.10419C3.85449 2.35419 4.73644 1.7603 5.75033 1.32252C6.76421 0.885298 7.84755 0.666687 9.00033 0.666687C10.1531 0.666687 11.2364 0.885298 12.2503 1.32252C13.2642 1.7603 14.1462 2.35419 14.8962 3.10419C15.6462 3.85419 16.2398 4.73613 16.677 5.75002C17.1148 6.76391 17.3337 7.84724 17.3337 9.00002C17.3337 10.1528 17.1148 11.2361 16.677 12.25C16.2398 13.2639 15.6462 14.1459 14.8962 14.8959C14.1462 15.6459 13.2642 16.2395 12.2503 16.6767C11.2364 17.1145 10.1531 17.3334 9.00033 17.3334Z" fill="#667085"/>
        </svg>
      </div>
    {% endif %}
    {% if tooltipParent %}
      </div>
  {% endif %} 
  
  {% if prefix or suffix %}
  <div class="c-form-item__element">
    {% endif %}

    {% if prefix %}
      <span class="c-form-item__prefix">{{ prefix }}</span>
    {% endif %}

    {% if description_display == 'before' and description.content %}
      <div {{ add_attributes(description_attributes_to_add, 'description.attributes')}} data-tippy-content="{{ description.content }}" data-placement="right">
      </div>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="c-form-item__suffix">{{ suffix }}</span>
    {% endif %}

    {% if prefix or suffix %}
  </div>
  {% endif %}

  
    {% if label_display in ['before', 'invisible'] %}
      <label class="custom-checkbox" for="{{ label['#for'] }}"></label>
    {% endif %}
  
  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if errors %}
    <div class="c-form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  
</div>
